<!DOCTYPE html>
<html>
  <head>
    <title>CHASE</title>
      <script type="text/javascript" src="app.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  
    <h1>test</h1>
      <h2>Hello </h2>
      <div class="chase">
        <p>I see you haven't logged on in a while, is everything ok? Is there something we can help you with?
        Should I send a personal trainer to get you going?
        Call us!!
        </div> 
          <p>Keep on Running</p>
          <br>
          <div class="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
  </body>
</html>