<!DOCTYPE html>
<html>
  <head>
    <title>3UP!</title>
      <script type="text/javascript" src="app.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  
    <h1>test</h1>
      <h2>Hello </h2>
      <div class="3up">
        <p>Have you seen our 3 latest marathons coming up: 
          <ol>
            <li>Up and Down the mountain <a href>https://stampede.co.uk</a></li>
            <li>Around the Block <a href>https://stampede.co.uk</a></li>
            <li>Through the house <a href>https://stampede.co.uk</a></li>
          </ol>
        </div> 
          <p>Keep on Running</p>
          <br>
          <div class="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
  </body>
</html>