

<!DOCTYPE html>
<html>
  <head>
      
    <title>Index</title>
      
      
  </head>
  <body>
      <div mc:edit="ID">
          THIS IS THE INDEX PAGE
      </div>

      <div mc:edit="login">
      </div>
  
      <h2>Hello </h2> <div mc:edit="firstname">Dave </div>
      <h1>Index</h1>
        <p>Have you seen our 3 latest marathons coming up: 
          <ol>
            <li>Up and Down the mountain <a href="">https://stampede.co.uk</a></li>
            <li>Around the Block <a href="">https://stampede.co.uk</a></li>
            <li>Through the house <a href="">https://stampede.co.uk</a></li>
          </ol>
       
          <p>Keep on Running</p>
          <br>
      <div mc:edit="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
  </body>
</html>