<!DOCTYPE html>
<html>
  <head>
      <title>Login</title> 
      
  </head>
  <body>
      
      <div mc:edit="ID">
          THIS IS THE LOGIN PAGE
      </div>
      
      <div mc:edit="header">
          <h2>Welcome to STAMPEDE</h2> 
      </div>
      
            <p> Hello </p> 
      <div mc:edit="firstname">Dave
      </div>
          <br>
          <p>Congratulations! You now have a login for the              most prestigious Endurance Event site around!               </p>
        <div mc:edit="welcome">
            *|DATE:d/m/y|*
      
            <h1 style="font:courier;font-                                   size:25px;color:blue;">You have had a                       RESULT!
            </h1>
      
            <h4>*|EMAIL|* is now a valid member of                      Stampede</h4>
      
            <p>Check out our site! <p>
         </div>
      
      <div mc:edit="greeting">
          Regards
          <br>
          Stampede Team
       </div>
      
      <div mc:edit="footer">
          <p>copyright@2016 SBAR Endurance </p>
      </div>
        
  </body>
</html>