
<!DOCTYPE html>
<html>
  <head>
      
      
  </head>
  <body>
      
      <div mc:edit="ID">
          THIS IS THE ORGANISER-LOGIN PAGE
      </div>
      
      <div mc:edit="header">
          <h2>Welcome to STAMPEDE</h2>
      </div>
      <div mc:edit="organisername">
      <p>Hello </p> Vitality Life
        </div>
      
        
        <div mc:edit="login">
          <p>Congratulations and Thank you for your             business! You now have a login for the most         prestigious Endurance Event site around!        </p>
      </div>
        <div mc:edit="welcome">
      *|DATE:d/m/y|*
      
      <h2 style="font:courier;font-size:25px;color:blue;">      Hello </h2>
            <div mc:edit="firstname">Steve
            </div>
      <h6>*|EMAIL|*</h6>
       <p> Please see instructions for loading an event.
           Check out our site! </p>
            </div>
      
      <div mc:edit="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
      <div mc:edit="footer">
          <p>copyright@2016 SBAR Endurance </p>
      </div>
  </body>
</html>