<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
      <script type="text/javascript" src="app.js"></script>
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  
    <h1>test</h1>
      <h2>Hello </h2>
      <div class="finalised">
        <p>Well done , you smashed it!
          <ol>
            <li>Winner 
            <br>
            <a href>https://stampede.co.uk</a></li>
            <li>Your place 
            <br>
            <a href>https://stampede.co.uk</a></li>
            <li>Check out the webpage for the splits 
            <br>
            <a href>https://stampede.co.uk</a></li>
          </ol>
        </div> 
          <p>Keep on Running</p>
          <br>
          <div class="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
  </body>
</html>