<!DOCTYPE html>
<html>
  <head>
    <title>Results</title>
      
      <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
  
      <h1 style="font:courier;font-size:25px;color:blue;">You have had a RESULT!</h1>
      <h2>Hello *|FNAME |* </h2>
      <h6>*|EMAIL|*</h6>
      <h6>*|LNAME|</h6>
      <div class="finalised" style="color:red;text-decoration:underline;">
        <p>Well done , you smashed it!
          <ol>
            <li>Winner 
            <br>
                <a href="">https://stampede.co.uk</a>Winner</li>
            <li>Your place 
            <br>
            <a href="">https://stampede.co.uk</a>Your Place</li>
            <li>Check out the webpage for the splits 
            <br>
            <a href="">https://stampede.co.uk</a>Splits</li>
          </ol>
        </div> 
          <p>Keep on Running</p>
          <br>
          <div class="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
  </body>
</html>