
      
      <div mc:edit="ID">
          THIS IS THE RESULTS PAGE
      </div>
      
      <div mc:edit="header">
          <h3>Hello *|FNAME|*</h3>
      <h6>*|EMAIL|*</h6>
      </div>
      <br>
      <div mc:edit="welcome">
      </div>
      <div mc:edit="results">
      *|DATE:d/m/y|*
      <h1 style="font:courier;font-                 size:25px;color:blue;">You have had a RESULT!</h1>
      
      </div>    
        <p>Well done , you smashed it!
          <ol>
            <li>Winner 
            <br>
                <a href="">https://stampede.co.uk</a>Winner</li>
            <li>Your place 
            <br>
            <a href="">https://stampede.co.uk</a>Your           Place</li>
            <li>Check out the webpage for the splits 
            <br>
            <a href="">https://stampede.co.uk</a>Splits</li>
          </ol>
          <p>Keep on Running</p>
          <br>
      
      <div mc:edit="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
      <div mc:edit="footer">
          <p>copyright@2016 SBAR Endurance </p>
      </div>
      
  </body>
</html>