<!DOCTYPE html>
<html>
  <head>
      <div mc:edit="header">
    <title>*|SUBJECT|* Lets try</title>
      </div>
      <body>
      <div mc:edit="firstname">Sam,
      </div>
          <p> great work you drilled it! </p>
      <div mc:edit="raceLocation">
          <p>Try these further locations.
          <ol><li>Liverpool</li>
              <li>Manchester</li>
              <li>Newcastle</li>
          </ol>
      </div>
      <div mc:edit="greeting">
          Regards
          <br>
          Stampede Team
          </div>
        
  </body>
</html>