<h1>Stampede</h1>

  <div mc:edit="header">
  </div>
    <h3>Hello</h3>
    <div mc:edit="firstname">Monty
  </div>

    
    <p>Go for it!</p>
    

<div mc:edit="3up">
    <p>Have you seen our 3 latest marathons coming up:
    1:Up and Down the mountain
    <a href="">https://stampede.co.uk/</a>
    2:Around the Block
    <a href="">https://stampede.co.uk/</a>
    3:Through the house
    
    <a href="">https://stampede.co.uk/</a>
</p>
</div>

<div mc:edit="greeting">
    <p>regards
    Stampede team</p>
</div>