<!DOCTYPE html>
<html>
<head>
  <title>All Users</title>
</head>
<body>
    <h1>List of users and their interests</h1>

    <ul>
      <% for(var i = 0; i < users.length; i++) { var user = users[i]; %>
          <li><strong><%= user.name %></li>
          <br>
          <li><h5><em><%= user.interests %></h5></li>
          <li><h5><em><%= user.user %></h5></li>
          <br>
      <% } %>
    </ul>
</body>
</html>